*.db
*.vsidx
*.json
exercise3/PerfectPlasticity2/.vs/PerfectPlasticity/v17/.suo
exercise3/PerfectPlasticity2/PerfectPlasticity2/.vs/PerfectPlasticity2/v17/.suo
exercise3/PerfectPlasticity2/PerfectPlasticity2/x64/Debug/PerfectPlasticity2.exe.intermediate.manifest
