exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/CodeChunks.db
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/SemanticSymbols.db
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/FileContentIndex/1f15384e-36d0-4f92-8810-6821ec67a15e.vsidx
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/FileContentIndex/dda0ce21-1c9a-49e3-b91f-f11aad10aacc.vsidx
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/v17/.suo
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/v17/DocumentLayout.backup.json
exercise2/PerfectPlasticity/.vs/PerfectPlasticity/v17/DocumentLayout.json
exercise2/PerfectPlasticity/PerfectPlasticity/drucker_prager_results.dat
exercise2/PerfectPlasticity/PerfectPlasticity/elastic_results.dat
exercise2/PerfectPlasticity/PerfectPlasticity/mohr_coulomb_results.dat
exercise2/PerfectPlasticity/PerfectPlasticity/x64/Debug/PerfectPlasticity.exe
exercise2/PerfectPlasticity/PerfectPlasticity/x64/Debug/PerfectPlasticity.exe.intermediate.manifest
exercise2/PerfectPlasticity/PerfectPlasticity/x64/Debug/PerfectPlasticity.pdb
exercise2/PerfectPlasticity/PerfectPlasticity/x64/Debug/PerfectPlasticity.obj
